
*.dex

*.MF

framework-res/build/

framework-res/dist/

*.RSA

*.SF

SystemUI/build/

*.apk

framework.jar.out/dist/framework.jar

am.jar/dist/am.jar

services.jar/build/*

am.jar/build/*

services.jar/build/apk/classes.dex

services.jar/dist/services.jar
